body {
	margin: 0;
	padding: 0;
	background: #ccccff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #3B3B3B;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	letter-spacing: -2px;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-weight: normal;
	color: #000033;
}

h1 {
	font-size: 2em;
}

#header {
	clear: both;
        color: #18897f;
	width: 1000px;
        align-content: center;
        padding: 100px;
	margin: 0px auto;
        font-size: 50px;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: 2px solid red;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

select {
  width: 100%;
  padding: 16px 20px;
  border: 2px solid red;
  border-radius: 4px;
  background-color: #f1f1f1;
}

 input[type=text], input[type=email], input[type=date] , input[type=password], input[type=number]{
  width: 100%;
  padding: 16px 20px;
  border: 2px solid red;
  border-radius: 4px;
   background-color: #f1f1f1;
} 
 